.page-title {
    font-size: 30pt;
    text-align: center;
    margin-bottom: 20pt;
    margin-top: 20pt;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#container-image{
    width: 100%;
}

#container-image-result{
    width: 100%;
}

.field-title {
    font-size: 18px;
}

.delimiter {
    height: 40px;
}

.btn {
    width: 100%;
}

.histogram-container {
    display: none;
}

.chart-hint,
#histogram-text {
    text-align: center;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}