<!DOCTYPE html>
<html>
<head>
	<title>Face Recognition</title>
	<!-- Bootstrap CDN -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<!-- Stylesheet -->
	<link rel="stylesheet" type="text/css" href="../static/style.css">
	<!-- Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- style -->
	<style>
		.card-title {
			text-align: center;
		}
	</style>
</head>

<body>
	<div class="page-title">Face Recognition</div>

	<div class="container">
		<div class="card" style="width: auto;">
			<div class="card-body">
				<h5 class="card-title">Train Image</h5>
				<a href="/face_recognition_train" class="btn btn-primary">Train</a>
			</div>
		</div>

		<br>

		<div class="card" style="width: auto;">
			<div class="card-body">
				<h5 class="card-title">Recognize Image</h5>
				<a href="/face_recognition_test" class="btn btn-primary">Test</a>
			</div>
		</div>
	</div>

</body>
<!-- Script -->
<script src="../static/script_8.js"></script>
</html>