<!DOCTYPE html>
<html>
<head>
	<title>Image Preprocessing</title>
	<!-- Bootstrap CDN -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- Stylesheet -->
	<link rel="stylesheet" type="text/css" href="../static/style.css">
	<!-- Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
	<div class="page-title">Image Preprocessing</div>
	<div class="container">
		<div class="col-md-12">
      		<label class="field-title">Upload Image</label>
			<span class="btn btn-default btn-file">
				<form enctype="multipart/form-data">
					Browse Image <input type="file" name="input-image" id="input-image">
				</form>
			</span>
			<!-- <canvas id="myCanvas" style="display: none;"></canvas> -->
			<br>
			<div class="col-md-6" style="margin-top: 10px;">
				<canvas id="before-canvas" style="max-width: 100%"></canvas>
			</div>
			<!-- <div class="col-md-6">
				<canvas id="after-canvas" style="max-width: 100%"></canvas>      
			</div> -->
		</div>
	</div>

	<br>
	<!-- <div class="container">
		<div class="col-md-6">
			<div class="form-group">
				<label for="formControlRange" id="label-pixel-treshold">Pixel threshold (127)</label>
				<input type="range" min="0" max="255" value="127" class="form-control-range" id="pixel-treshold" step="1">
			</div>
		</div>
	</div>

	<br>

	<br>
	<div class="container">
		<div class="col-md-6">
			<div class="form-group">
				<label for="formControlRange" id="range-label">Pixel threshold (25)</label>
				<input type="range" min="0" max="255" value="25" class="form-control-range" id="noice-threshold" step="1">
			</div>
		</div>
	</div>

	<br> -->

	<div class="container">
		<div class="col-md-6">
			<label class="field-title">Choose preprocessing method:</label>
			<select class="form-control" id="preprocess-method">
				<option value=0>Gradient</option>
				<option value=1>Median</option>
				<option value=2>Difference</option>
				<option value=3>PREWITT</option>
				<option value=4>SOBEL</option>
				<option value=5>ROBERTS</option>
				<option value=6>FREICHEN</option>
				<option value=7>CUSTOM</option>
				
			</select>
		</div>

		<br>

		<div class="col-md-6" id="input-custom" style="display: none;">
			<div class="row">
				<div class="col-xs-4">
					<input type="number" class="m1_val" style="width: 60px">
				</div>
				<div class="col-xs-4">
					<input type="number" class="m1_val" style="width: 60px">
				</div>
				<div class="col-xs-4">
					<input type="number" class="m1_val" style="width: 60px">
				</div>
			</div>

			<br>

			<div class="row">
				<div class="col-xs-4">
					<input type="number" class="m1_val" style="width: 60px">
				</div>
				<div class="col-xs-4">
					<input type="number" class="m1_val" style="width: 60px">
				</div>
				<div class="col-xs-4">
					<input type="number" class="m1_val" style="width: 60px">
				</div>
			</div>

			<br>

			<div class="row">
				<div class="col-xs-4">
					<input type="number" class="m1_val" style="width: 60px">
				</div>
				<div class="col-xs-4">
					<input type="number" class="m1_val" style="width: 60px">
				</div>
				<div class="col-xs-4">
					<input type="number" class="m1_val" style="width: 60px">
				</div>
			</div>
		</div>

		<hr/>
		<!-- MATRIX 2 -->
		<div class="col-md-6" id="input-custom-2" style="display: none;">
			<div class="row">
				<div class="col-xs-4">
					<input type="number" class="m2_val" style="width: 60px">
				</div>
				<div class="col-xs-4">
					<input type="number" class="m2_val" style="width: 60px">
				</div>
				<div class="col-xs-4">
					<input type="number" class="m2_val" style="width: 60px">
				</div>
			</div>

			<br>

			<div class="row">
				<div class="col-xs-4">
					<input type="number" class="m2_val" style="width: 60px">
				</div>
				<div class="col-xs-4">
					<input type="number" class="m2_val" style="width: 60px">
				</div>
				<div class="col-xs-4">
					<input type="number" class="m2_val" style="width: 60px">
				</div>
			</div>

			<br>

			<div class="row">
				<div class="col-xs-4">
					<input type="number" class="m2_val" style="width: 60px">
				</div>
				<div class="col-xs-4">
					<input type="number" class="m2_val" style="width: 60px">
				</div>
				<div class="col-xs-4">
					<input type="number" class="m2_val" style="width: 60px">
				</div>
			</div>
		</div>

		<br>

		<div class="col-md-6">
			<button type="button" id="button-preprocess" class="btn btn-success">Preprocess Image</button>
		</div>
	</div>

	<br>

	<div class="container">
		<div class="col-md-6">
			<h4>Hasil</h4>
			<img id=result style="width: 100%;"></img>
			<br>
			<!-- <h4>Hasil Prediksi</h4>
			<p id=result-pred></p> -->
		</div>
	</div>

	<br>

</body>
<!-- Script -->
<script src="../static/script_7.js"></script>
</html>