<!DOCTYPE html>
<html>
<head>
	<title>Thinning Image</title>
	<!-- Bootstrap CDN -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- Stylesheet -->
	<link rel="stylesheet" type="text/css" href="../static/style.css">
	<!-- Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
	<div class="page-title">Thinning Image</div>
	<div class="container">
		<div class="col-md-6">
			<label class="field-title">Upload Image</label>
			<span class="btn btn-default btn-file">
				<form enctype="multipart/form-data">
					Browse Image <input type="file" name="input-image" id="input-image">
				</form>
			</span>
			<!-- <canvas id="myCanvas" style="display: none;"></canvas> -->
			<img id="container-image"/>
		</div>
	</div>

	<br>
	<div class="container">
		<div class="col-md-6">
			<div class="form-group">
				<label for="formControlRange" id="range-label">Noise threshold (8%)</label>
				<input type="range" min="0" max="100" value="8" class="form-control-range" id="noice-threshold" step="1">
			</div>
		</div>
	</div>

	<br>

	<div class="container">
		<div class="col-md-6">
			<button type="button" id="button-read-text" class="btn btn-success">Identify Image</button>
		</div>
	</div>

	<br>

	<div class="container">
		<div class="col-md-6">
			<h4>Hasil Thinning</h4>
			<img id=result style="width: 100%;"></img>
			<br>
			<h4>Hasil Prediksi</h4>
			<p id=result-pred></p>
		</div>
	</div>

	<br>

</body>
<!-- Script -->
<script src="../static/script_5.js"></script>
</html>